<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connection_string" connectionString="Data Source=TECNICORServer;Initial Catalog=MECSYSTEM;User ID=sa;Password=A234b678;;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="GestionServicios.Properties.Settings.MECSYSTEMConnectionString"
      connectionString="Data Source=TECNICORServer;Initial Catalog=MECSYSTEM;Persist Security Info=True;User ID=sa;Password=A234b678"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>